/**************************
*
*	GENERAL
*
**************************/
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap {
	display: none;
	float: left;
	position: relative;
	z-index: 0;
	margin-bottom:10px!important;
	margin-top:20px!important;
}
.camera_wrap img {
	max-width: none!important;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 340px !important;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
/*	overflow: hidden; */
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/cameraSlider/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: url(../images/cameraSlider/camera-loader.gif) no-repeat center;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camera_caption {
	bottom: -126px !important;
	display: block;
	position: absolute;
	width: 100%;
	left:156px
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_prevThumbs {
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_prevThumbs div {
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_nextThumbs {
	bottom: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_nextThumbs div {
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_command_wrap .hideNav {
	display: none;
}
.camera_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
}
.camera_wrap .camera_pag{
	position: relative;
	top: 145px;
}
.camera_wrap .camera_pag .camera_pag_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 5px;
	left: 4px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 5px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.camera_pag_ul li img {
	display: none;
	position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
	cursor: pointer;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}
.camera_prev {
	left: 0;
	-webkit-border-radius: 0px 36px 36px 0px;
    border-radius: 0px 36px 36px 0px;
    -moz-border-radius: 0 36px 36px 0;
}
.camera_prev > span {
	background: url(../images/icons/camera_slider_icons.png) no-repeat 2px 9px; 
	display: block;
	height: 32px;
	width: 16px;
	margin-top: 3px;
	background-color: #505050;
	-webkit-border-radius: 0px 32px 32px 0px;
    border-radius: 0px 32px 32px 0px;
    -moz-border-radius: 0 32px 32px 0;
    -webkit-transition: background-color .2s ease; -moz-transition: background-color 0.2s ease 0s; -o-transition: background-color .2s ease 0s;
}
.camera_next {
	right: 0;
	border-radius: 36px 0 0 36px;
    -moz-border-radius: 36px 0 0 36px;
    -webkit-border-radius: 36px 0 0 36px;
}
.camera_next > span {
	background: url(../images/icons/camera_slider_icons.png) no-repeat -23px 9px;
	display: block;
	height: 32px;
	width: 16px;
	margin-top: 3px;
	margin-left: 4px;
	background-color: #505050;
	border-radius: 32px 0 0 32px;
    -moz-border-radius: 32px 0 0 32px;
    -webkit-border-radius: 32px 0 0 32px;
    -webkit-transition: background-color .2s ease; -moz-transition: background-color 0.2s ease 0s; -o-transition: background-color .2s ease 0s;
}
.camera_prev,.camera_next {
	width: 20px;
	height: 38px;
	background-color: #d4d5d6;
	background-color: rgba(0,0,0,0.1);
	-webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.camera_commands {
	right: -10px;
	top: auto;
	bottom: -10px;
	display:none;
}
.camera_commands > .camera_play {
	background: url(../images/icons/camera_slider_icons.png) no-repeat -76px 2px;
	height: 20px;
	width: 20px;
	background-color: #505050;
}
.camera_commands > .camera_stop {
	background: url(../images/icons/camera_slider_icons.png) no-repeat -49px 2px;
	display: block;
	height: 20px;
	width: 20px;
	background-color: #505050;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 13px;
	margin: 20px 3px;
	position: relative;
	text-indent: -9999px;
	width: 13px;
}
.camera_thumbs_cont {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 0;
	padding-bottom: 4px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/
.pattern_1 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay1.png) repeat;
}
.pattern_2 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay2.png) repeat;
}
.pattern_3 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay3.png) repeat;
}
.pattern_4 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay4.png) repeat;
}
.pattern_5 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay5.png) repeat;
}
.pattern_6 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay6.png) repeat;
}
.pattern_7 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay7.png) repeat;
}
.pattern_8 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay8.png) repeat;
}
.pattern_9 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay9.png) repeat;
}
.pattern_10 .camera_overlayer {
	background: url(../images/cameraSlider/patterns/overlay10.png) repeat;
}
.camera_caption {
	color: #fff;
	display:none;
}
.camera_caption > div {
	
}



.camera_caption > div {
	position:absolute;
	left:350px;
	bottom:88px;
}
.camera_caption > div > h1 {
	color:#fff;
	font-size:45px;
	line-height:35px;
}
.camera_caption > div > h2 {
	color:#fff;
	font-size:26px;
	line-height:30px;
}

.camera_caption > div > p {
	color:#fff;
	width:280px;
	margin-bottom:60px;
	font-size:14px;
}

.camera_caption > div > a {
	border: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 14px;
    margin: 19px 0 0;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
	font-weight:bold;
}

.camera_wrap:hover .camera_caption > div {
	
}






.camera_wrap .camera_pag .camera_pag_ul li {
	background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
	background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	background: #b7b7b7;
}
.camera_pag_ul li img {
	border: 4px solid #e6e6e6;
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag_ul .thumb_arrow {
    border-top-color: #e6e6e6;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_thumbs_cont {
	background: url('../images/pattern/header_pattern2.png');
}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #fff;
	background: rgba(fff, fff, fff, 0.3);
}
.camera_thumbs_cont ul li > img {
	border: 1px solid #000;
}




