/* Portolio Hover */
.col_news .item_news .click_news ,
.col_news .item_news .click_news  img {
	display: block;
	position: relative;
}
.col_news .item_news .click_news  {
	overflow: hidden;
}
.col_news .item_news .click_news  article {
	position: absolute;
	background-image: url(../images/image_hover.png);
	background-repeat:repeat;
	width: 100%;
	height: 100%;
}
.col_news .item_news .click_news  article.da-animate {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/* Initial state classes: */
.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px; 
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
.col_news .item_news .click_news  article a {
	color:#fff;
	padding:20px;
	display:block;
}

.da-thumbs {
text-align:center;
}

.col_news .item_news .click_news  article h3{
color:#fff;
padding-top:30px;
}

.col_news .item_news .click_news  article em{
margin-bottom:10px;
color:#fff;
display:block;
}

.col_news .item_news .click_news  article span{
display:inline-block;
}

span.link_post{
display:block;
width:35px;
height:35px;
background-color:#DF6232;
border-radius:50px;
cursor:pointer;
background-image:url(images/link_post_icon.png);
background-repeat:no-repeat;
background-position:center;
margin-right:10px;
}

span.zoom{
overflow:hidden;
display:block;
width:35px;
height:35px;
background-color:#DF6232;
border-radius:50px;
cursor:pointer;
background-image:url(images/zoom_icon.png);
background-repeat:no-repeat;
background-position:center;
margin-left:10px;
}

.portfolio_2col article h3{
padding-top:70px !important;
}

/* Image Grid */
.image_grid {
	float:left;
	overflow:hidden;
	width:700px;
	position:relative;

}

.image_grid li{
	float: left;
	line-height: 17px;
	color: #686f74;
	list-style:none;
	overflow:hidden;
	margin-bottom:23px;
	margin-right:23px;
	text-align:center;
}
 .fdw-port a{ 
		background-color:#336699; 
		color:#fff; 
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		-webkit-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
		-moz-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
		box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
		-o-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
		text-shadow:0 1px 1px #000;
	}
    .fdw-port a:hover{ 
		background-color:#f2f2f2; 
		color:#336699 !important; 
		text-shadow:0 1px 1px #ccc;
		-webkit-box-shadow: 0 3px 0 #ccc, 3px 5px 3px #333;
		-moz-box-shadow: 0 3px 0 #ccc, 3px 5px 3px #333;
		box-shadow: 0 3px 0 #ccc, 3px 5px 3px #333;
		-o-box-shadow: 0 3px 0 #ccc, 3px 5px 3px #333;
	}
	.fdw-background{ background-color:rgba(0,0,0,0.6);opacity:0; margin-top:-25px; width:100%; height:100%; }
	.fdw-background .fdw-port{ text-align:center; padding:0 40px 0; }
	.fdw-background .fdw-port a{ padding:8px 15px; font-size:1em; }

/* Responsive image grid*/
/* Mobile landscape width 320 */
@media only screen and (max-width: 767px) {

.image_grid{
width:300px;
}

.image_grid li img{
width:220px;
}

.col_news .item_news .click_news article h3{
padding-top:70px;
}

.col_news .item_news .click_news article h3{
padding-top:50px;
}

.col_news .item_news .click_news article h3{
padding-top:53px !important;
}

}


 @media only screen and (min-width: 480px) and (max-width: 767px) {

.image_grid{
width:450px;
}

.image_grid li{
width:178px !important;
}

.col_news .item_news .click_news article h3{
padding-top:58px;
}

.portfolio_3col .col_news .item_news .click_news article h3{
padding-top:34px;
}

.portfolio_2col .col_news .item_news .click_news article h3{
padding-top:23px !important;
}

}


