div.header-container{
    background-color: #2c2c2c;
    color: white;
}

span.header-span{
    font-size: 24px;
}

.vcenter {
    display: flex;
    align-items: center;
}

input.search-input{
    border-radius: 3px;
    background-color:  #ffffff;
}

div.login-register-form{
    position: absolute;
    top:100%;
    z-index: 1001;
    right: 0;
    left: auto;
}

button.dangnhap-btn{
    border-radius: 4px;
    background: -webkit-linear-gradient(90deg, #e21d3b 10%, #fe5420 89%);
    background: -moz-linear-gradient(90deg, #e21d3b 10%, #fe5420 89%);
    background: -o-linear-gradient(90deg, #e21d3b 10%, #fe5420 89%);
    background: -ms-linear-gradient(90deg, #e21d3b 10%, #fe5420 89%);
    background: linear-gradient(0deg, #e21d3b 10%, #fe5420 89%);
    background-color: #fb4e23;;
    width: 116px;
    height: 35px;
    padding: 0;
    color: white;
}

button.dangki-btn{
    background: -webkit-linear-gradient(90deg, rgba(50, 50, 50, 0) 10%, rgba(96, 96, 96, 0) 89%);
    background: -moz-linear-gradient(90deg, rgba(50, 50, 50, 0) 10%, rgba(96, 96, 96, 0) 89%);
    background: -o-linear-gradient(90deg, rgba(50, 50, 50, 0) 10%, rgba(96, 96, 96, 0) 89%);
    background: -ms-linear-gradient(90deg, rgba(50, 50, 50, 0) 10%, rgba(96, 96, 96, 0) 89%);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0) 10%, rgba(96, 96, 96, 0) 89%);
    background-color: #4e4e4e;;
    width: 105px;
    height: 35px;
    padding: 0;
    color: white;
}

input#inputEmail, input#inputPassword {

}

#login-div{
    display: none;
}

#login-parent-div:hover #login-div{
    display: block;
}

.footer-container div.container{
    padding-top: 58px;
}

.footer-container {
    color: #e7e6e6;
    margin-top: 25px;
}

.footer-container h3{
    padding-bottom: 21px;
    font-family: FuturaStd;
    color:  #e6e6e6;
    font-size: 21px;
    font-weight: 300;
    line-height: 18px;
}

div#header, div.header-container, div.header-search, div#footer, div#body{
    font-family: 'Nunito', sans-serif; !important
}

div.rating-div p{
    display: inline-block;
    color: black;
}

div.like-product-div h4{
    color:  #252525;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}

ul.dash-list li, ul.star-list li, div.detail-product-div p{
    color:  #3a3a3a;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

div.detail-product-div h4{
    color:  #3a3a3a;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

div.comment-div{

}

div.comment-div span.comment{
    color:  #3a3a3a;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

div.comment-div p.head{
    color:  #3a3a3a;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
}

button.btn-sm:hover{
    color: #808080;
}

p.not-submit i.fa-star{
    color: #d7d7d7;
}

div.comment-div div.rating-input{
    display: inline-block;
}

div.comment-div div.rating-div label, div.comment-div div.rating-div{
    font-weight: 400;
    font-size: 15px;
}

div.comment-div div.rating-div label{
    color:  #3a3a3a;;

}


div.register-div div.form-group{
    margin-bottom: 25px;
}

label.register-label{
    margin-bottom: 10px;
    color:  #606060;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.75px;
    line-height: 43px;
}

div.register-div div.form-group input, div.register-div div.form-group select{
    border-radius: 0px;
}


div.register-div input[type="checkbox"]:after{

}

div.register-page h1.border-bottom-h1{


}

div.register-page h1.border-bottom-h1{
    padding-bottom: 20px;
}