.jcarousel-wrapper {   
    position: relative;    
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 345px;
    float: left;   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 30%;  
    width: 51px;
    height: 52px;    
}

.jcarousel-control-prev {
	background:url(../images/left_btn.png) no-repeat top center;
    left: -155px;
}

.jcarousel-control-next {
	background:url(../images/right_btn.png) no-repeat top center;
    right: -155px;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}
