@charset "utf-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Design for a width of 768px, Gutter: 30px, Unit: 32px Styles
2.0 - Design for a width of 768px, Gutter: 30px, Unit: 32px Styles
3.0 - Design for a width of 480px 
4.0 - Mobile Portrait Size to Mobile Landscape Size (devices and browsers) Styles
--------------------------------------------------------------*/

/*----*****---- << Responsive >> ----*****----*/

/*----*****---- << Desktop >> ----*****----*/	

/*--------------------------------------------------------------
1.0 - Design for a width of 768px, Gutter: 30px, Unit: 32px 
--------------------------------------------------------------*/

@media only screen and (min-width:1120px) {

.container{width:1155px; margin: 0 auto;}

}

/*----*****---- << Tablet (Portrait) >> ----*****----*/	

/*--------------------------------------------------------------
2.0 - Design for a width of 768px, Gutter: 30px, Unit: 32px 
--------------------------------------------------------------*/

@media only screen and (min-width:798px) and (max-width:968px) {

body { font-size:13px; }

.container { width:710px; }

}

/*----*****---- << Mobile (Landscape) >> ----*****----*/	

/*--------------------------------------------------------------
3.0 - Design for a width of 480px 
--------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 797px) {


}

/*----*****---- << Mobile >> ----*****----*/	

/*--------------------------------------------------------------
4.0 - Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 
--------------------------------------------------------------*/

@media only screen and (max-width: 479px) {


}