@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - General Styles
2.0 - Header Tag Styles
3.0 - Font Family
4.0 - Button Styles
5.0 - Header Styles
    5.1 - Header Top Styles
    5.2 - Header Search Form Styles
	5.3 - Menu Styles
6.0 - Main Styles
	6.1 - Title Full Width Styles
	6.2 - hr Title Styles
7.0 - Breadcrumb Styles
8.0 - Services Styles
9.0 - Team Styles
10.0 - Table Styles
11.0 - Testimonial Styles
12.0 - Blog Styles
13.0 - About Styles
14.0 - Pagination Styles
15.0 - Sidebar Styles
16.0 - Gallery Styles
17.0 - Contact, Event, Donate Page Styles
18.0 - Carousel Styles
19.0 - Footer Styles
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - General Styles
--------------------------------------------------------------*/

body{font:12px normal myriadproregular, Tahoma, Geneva, sans-serif; color:#626262; margin:0px; padding:0px; line-height:20px; background:#fff}

header, nav, section, article, aside, footer {display:block;}

.wrapper{clear:both; width:100%; margin:0px; padding:0px; float:left;}

*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

p{padding:0px; margin:0px 0px 20px 0px; line-height:22px;}

a{text-decoration:none; color:#564338;}

a:hover{color:#313131;}

a, input[type=submit], input[type="text"], input[type="submit"]{transition:all 300ms linear 0s;  -webkit-transition:all 300ms linear 0s; -moz-transition:all 300ms linear 0s;}

ol, ul {list-style: none outside none; padding:0px;}

ol li{padding-bottom: 10px;}

ol li{list-style-position:inside; list-style-type: decimal;}

ul, ol, pre, code {margin-bottom: 20px; padding:0px;}

li{margin:0px; padding:0px; list-style-type:none;}

img{border:none;}

figure{margin:0px; padding:0px;}

blockquote{margin:0px;}

img, iframe{max-width:100%;}

textarea, input[type=text], input[type=email]{font-size:13px; padding:15px 10px; width:100%;}

textarea, input[type=text], input[type=email], select{outline:none; font-family:Tahoma, Geneva, sans-serif; color:#a9a9a9; margin:0px;}

select{padding:14px 10px; width:100%;}

option{color:#a9a9a9;}

textarea{width:100%; height:112px;} 

input[type=submit]{background-color:#A0CE4E; border:1px solid #8BB146; box-shadow:0 5px 0 #799841; text-shadow:1px 1px 1px #617D39; color:#FFFFFF; font-size:25px; border-radius:3px; display:inline-block;
line-height:34px; padding:9px 28px 7px; text-transform:uppercase;}

@-moz-document url-prefix(){ input[type=submit] {padding:9px 24px 7px;}}

input[type=submit]:hover{background-color:#7cb020;}

input[type=submit]{cursor:pointer; background:url(images/button_bg_pattern.png) repeat #A0CE4E; margin:0px; float:right;}

.mobile-menu{display:none; width:100%; padding:10px; outline:none; background:#FFFFFF; border:1px solid #473d32;}

/*--------------------------------------------------------------
2.0 - Header Tag Styles
--------------------------------------------------------------*/

h1,h2,h3{margin:0px; padding:0px; line-height:normal; font-family:gothic, "Times New Roman", Times, serif}

h1{font-size:26px; text-transform:uppercase; margin-bottom:20px;}

h2{font-size:24px; text-transform:uppercase; margin-bottom:15px;}

h3{font-size:22px; text-transform:uppercase; margin-bottom:10px;}

h4{font-size:18px; text-transform:uppercase; margin-bottom:10px;}

h5{font-size:16px; text-transform:uppercase; margin-bottom:10px;}

h6{font-size:14px; text-transform:uppercase; margin-bottom:10px;}

/*--------------------------------------------------------------
3.0 - Font Family
--------------------------------------------------------------*/

@font-face {
    font-family: 'gothic';
    src: url('../fonts/gothic.eot');
    src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothic.woff') format('woff'),
         url('../fonts/gothic.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriadproregular';
    src: url('../fonts/myriadproregular.eot');
    src: url('../fonts/myriadproregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadproregular.woff') format('woff'),
         url('../fonts/myriadproregular.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;

}

/*--------------------------------------------------------------
4.0 - Button Styles
--------------------------------------------------------------*/

.dt-sc-button{color:#FFFFFF; display:inline-block;}

.dt-sc-button{background:url(images/button_bg_pattern.png) repeat; cursor:pointer; font-weight:bold; color:#FFFFFF; text-transform:uppercase; transition:all 0.3s ease 0s;  -webkit-transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; overflow:hidden; margin:10px 0px 0px 0px;}

.btn:before, .icon-heart:after, .icon-star:after, .icon-plus:after, .icon-file:before{font-family:"FontAwesome"; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none;
line-height:1; position:relative; -webkit-font-smoothing:antialiased;}

.btn:after{content:''; position:absolute; z-index:-1; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s;}

.btn{border:none; font-size:inherit; color:inherit; cursor:pointer; padding:25px 80px; display:inline-block; text-transform:uppercase; letter-spacing:1px; font-weight:700;
outline:none; position:relative; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s;}

.btn:after{content:''; position:absolute; z-index:-1; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s;}

.widget.mailchimp .dt-sc-button.small.palebrown{cursor:pointer; margin-bottom:0px; line-height:inherit;}

/*--------------------------------------------------------------
5.0 - Header Styles
--------------------------------------------------------------*/
#header{margin:0px 0 15px 0; padding: 20px 0 20px 0; background:url(../images/bg_header.png) left bottom; display:block; display:inline-block; width:100%; position:relative}
#header .navar{display:inline-block; float:left; margin:49px 0 0 0}
.hide_navar{width:42px; height:27px; background:url(../images/icon_menu.png) no-repeat; display:inline-block}
.hide_navar:hover, .navar .active{background:url(../images/icon_menu_hover.png) no-repeat}
.right_header div{float:right; display:inline-block}
.right_header .logo{padding-right: 0px; text-align:right}
.right_header .social{margin:38px 45px 0 0}
.right_header .social a{margin:0 5px}
.right_header .social a:last-child{margin:0 0 0 5px}
.social #face_box{display:none}

#header .search{float:left; margin:42px 0 0 30px; width:320px; display:none}
#header .search input{border:1px solid #e7e7e7; padding:8px 20px 8px 5px; width:100%; background:url(../images/search_btn.png) no-repeat 96% 50%}

#menu{position:absolute; width:100%; height:auto; background:#dddddd; z-index:999; top:115px; padding:50px 0 75px 0; display:none}
#menu .item_auto{width:215px; margin:0 50px 0 0}
#menu .item_auto a.auto_click{height:110px}
#menu .l_menu{width: 795px; float:left}
#menu .row_auto{margin-bottom:25px}
#menu .r_menu{float:left; width:220px; margin:60px 0 0 0}
.r_menu .col_menu{margin-bottom:20px; display:inline-block}
.r_menu h3{font-family:gothic; font-size:21px; text-transform:inherit; font-weight:normal; color:#5f5b5b; margin-bottom:20px}
.r_menu ul li a{color:#8f8f8f; font-family:gothic; font-size:17px; padding: 0 0 10px 0; display:inline-block}
.col_menu ul{margin:0 0 0 5px}
.col_menu ul li{background:url(../images/list.png) no-repeat 0px 5px; padding:0 0 0 15px}
.col_menu ul li a:hover{text-decoration:underline}

.slideshow{margin:65px 0 0 0; height:570px; background:url(../images/bg_slideshow.png) no-repeat bottom center}
#slides{width: 1107px; height:525px; margin:0 auto}
#slide_home{margin:-12px 0 0 7px !important}

#auto{margin-top:20px}
#auto .title_auto{font-size:45px; color:#504e4e; text-align:center; margin:35px 0; font-weight:normal}
.row_auto{display: inline-block; width:100%; margin:0 0 45px 10px}
.row_auto .item_auto{width:175px; float:left; display:inline-block; margin: 0 15px 0 0; position:relative;}
.row_auto .item_auto:last-child{margin:0}
.row_auto .item_auto a.auto_click{height:90px; padding:8px;width:100%; position:relative; display:inline-block;background-image:url(../images/bg_carlist_select_on.png);background-size:160px;background-repeat: no-repeat;background-position:0px 90px;-webkit-transition:all 0.2s;transition:all 0.2s;-o-transition:all 0.2s;-moz-transition:all 0.2s;}
.row_auto .item_auto a.auto_click img{position:absolute; bottom:-5px; -webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.row_auto .item_auto a.auto_click:hover img,.row_auto .item_auto a.auto_click.active img{bottom: 15px;}
.row_auto .item_auto a.auto_click:hover,.row_auto .item_auto a.auto_click.active {background-position: 0px 70px}
.item_auto .compare_click{float: right; text-indent:-999px; width:70px; height:18px; cursor:pointer}
.item_auto .compare_click{
	width: 90px;
	height: 28px;
	line-height: 18px;
	padding: 5px;
	margin-left: -64px;
	font-family: 'Alegreya SC', Georgia, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 14px;
	border-radius:5px;
	color: #719DAB;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #AEB0B8;
	/*background: rgba(255,255,255,0.3);*/
    background: #AEB0B8);
	color:#333;
	text-indent: 0px;
	position: absolute;
	top: 5px;
	left:100px;
	z-index:100;
	opacity: 0;
	border:2px solid #AEB0B8;
	visibility: visible;
	cursor:pointer;
	-webkit-transform: translate(35px) rotate(25deg) scale(1.5);
	-moz-transform: translate(35px) rotate(25deg) scale(1.5);
	-o-transform: translate(35px) rotate(25deg) scale(1.5);
	-ms-transform: translate(35px) rotate(25deg) scale(1.5);
	transform: translate(35px) rotate(25deg) scale(1.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.item_auto .compare_click:before,
.item_auto .compare_click:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #AEB0B8;
}
.item_auto .compare_click:after{
    bottom: -10px;
    margin-left: -10px;
    border-top: 10px solid #AEB0B8;
}

/*.item_auto .active1{background:url(../images/compare_icon.png) no-repeat right top}*/
.item_auto .active1 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0px) rotate(0deg) scale(1);
    -moz-transform: translate(0px) rotate(0deg) scale(1);
    -o-transform: translate(0px) rotate(0deg) scale(1);
    -ms-transform: translate(0px) rotate(0deg) scale(1);
    transform: translate(0px) rotate(0deg) scale(1);
}
.col_auto{height: auto; width:100%;padding-top:40px;}
.item_auto h5{color:#000; margin:20px 0 10px 0; font-size:15px}
.item_auto .price{font-size:14px}
.child_auto{margin:20px 0 0 10px; display:none; overflow:inherit !important}
.child_auto .cars{margin:0 0 15px 0; display:inline-block; width:100%; position:relative}
.child_auto .cars input[type="checkbox"]{width: 16px; height:16px; margin:0 0 0 20px; position:absolute; top:12px}
.child_auto .cars img{cursor:pointer}
.cars .popup{position:absolute; display:none; background:url(../images/bg_popup.png) no-repeat bottom center; padding-bottom:7px}
.cars .popup div{ text-align:center; padding: 5px 10px; font-size:10px; background:#898a8a; color:#fff; border-radius:10px; -moz-border-radius:10px; -webki-border-radius:10px }
.cars .popup div span{clear:both; display:block; line-height:16px}

#service{margin:20px auto 0 auto; display:flex}
#service .colum{width:355px; margin:0 10px; float:left; padding:0 10px; text-align:center}
.colum .col_img{width:100%; height:160px; position:relative; display:inline-block}
.colum .col_img img{position:absolute; bottom:0; left:0; right:0; margin:auto}
.colum .col_img:hover img{bottom: 10px}
.colum h2{font-weight:normal; font-size:16px; color:#666262; margin-top:23px}
.colum p{font-size:14px; color:#9b9999}
.colum .readmore{color:#87b672; font-size:14px; text-transform:uppercase; font-family:gothic}

#event{background:url(../images/parallax4.jpg); padding:35px 0; margin-top:45px; display:inline-block; width:100%}
#event h1{font-size:72px; font-family:myriadproregular; color:#fff; text-align:center; padding:0 0 20px 0; font-weight:normal; width: 100%; display:inline-block; text-transform:capitalize}
#event .event_item{width:345px; float:left; margin-right:20px}
#event .event_item img{width:100%}
.event_item .title_event{font-family:gothic; font-size:20px; margin:20px 0 10px 0; color:#f45a40; text-transform:uppercase; display:inline-block}
.event_item .title_event:hover{text-decoration:underline; font-weight:normal}
.event_item p{color:#7e7f84; font-size:13px}

#news{margin:50px auto 0 auto}
#news h1.title_news{font-size:75px; font-family:myriadproregular; color:#3f3f3f; margin-bottom:35px; text-align:center; text-transform:capitalize; font-weight:normal}
#news .col_news{width:355px; height:auto; display:inline-block; float:left; margin:0 30px 0 0;}
#news .col_news:last-child{margin:0}
#news .item_news{margin:0 0 25px 0; padding:0 0 5px 0; border-bottom:3px solid #2eb398}
.item_news .click_news{position:relative; display:inline-block; width:100%}
.item_news img{width:100%; height:auto}
.item_news .bg_news{background:url(../images/bg_news.png) no-repeat top left; width:17px; height:9px; position:absolute; bottom:0; left:35px}
.item_news .content_news{margin:12px 0 0 25px}
.content_news .category{font-size:12px; color:#b3b2b2; text-transform:uppercase; font-family:myriadproregular; font-weight:bold; margin: 0}
.content_news .control div{color:#9d9d9d; font-size:10px; padding:5px 20px; float:left}
.control .date{background:url(../images/date_icon.png) no-repeat left center}
.control .view{background:url(../images/view_icon.png) no-repeat left center}
.control .comment{background:url(../images/comment_icon.png) no-repeat left center}
.content_news h4 a{color:#313131; font-size:17px; font-family:myriadproregular; text-transform:initial; clear:both; float:left}
.content_news p{font-size:11px; margin-top:10px; line-height:18px; display:inline-block}
.item_news .hover_news{display:none; position:absolute; bottom:0; left:0; background:url(../images/hover.png)}

#footer{background:url(../images/line_header.png) no-repeat top center; margin:35px 0 20px 0; display:inline-block; width:100%; padding:50px 0 0 0}
#footer .footer_colum{width:355px; height:auto; display:inline-block; float:left; margin:0 30px 0 0;}
.coppyright{width:100%; float:left; margin-top:40px}
.footer_colum h2{font-size:20px; font-weight:normal; background:url(../images/line_footer.png) no-repeat left bottom; padding:0 0 20px 0; margin:0 0 30px; color:#838383}
.footer_colum li a{font-size:14px; font-family:gothic; text-transform:uppercase; color:#646465; padding:0 0 10px 0; display:inline-block}
.footer_colum li a:hover{text-decoration:underline}
.footer_colum div.footer-tnt a{padding:0 20px 0 0}
